/*dark theme css */
/* https://help.gamepedia.com/MediaWiki_CSS */

/*Fonts used*/
@font-face {
  font-family: ARK;
  src: local('ARK'), local('ARK'), url(//survivetheark.com/ARK-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Roboto-Regular';
	src: local('Roboto-Regular'), local('Roboto-Regular'), url(/media/hydra/fonts/Roboto-Regular.ttf) format('truetype');
}

/* For elements which only display in the mobile view */
.mobileonly {
  display: none;
}

/* Hide main page header */
body.page-ARK_Survival_Evolved_Wiki h1.firstHeading {
  display:none;
}

/*********************
/* Front page styles *
/*********************/
.fpmain {
  width: 100%;
  overflow: hidden;
  z-index: 1;
  }
  
  .fpbanner {
  border: 1px solid #65b7cf;
  box-shadow: rgba(25, 35, 41, 1) 0 0.1em 0.5em;
  background: rgba( 0, 0, 0, .2 );
  color: #65b7cf;
  margin: 0 5px 5px 5px;
  padding: 5px;
  min-height: 80px;
  }
  
  .fpbannertable {
  display: table;
  border: none;
  background: transparent;
  width: 100%; 
  min-height: 75px;
  margin: 0;
  padding: 5px;
  }
  
  .fpbannercell {
  display: table-cell; 
  text-align: center; 
  vertical-align: middle;
  }
  
  .fpbannerblock {
  border: none;
  color: #ffffff;
  font-weight: bold;
  text-shadow: 0 0 8px rgba(255, 255, 255, 0.75);
  font-size: 132%;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  }
  
  .fpmidsections {
  float: left;
  width: 100%;
  overflow: hidden;
  }
  
  .fpbox {
  border: 1px solid #65b7cf;
  box-shadow: 0 2px 5px #7ad6f1;
  background: rgba(0, 0, 0, 0.10);
  font-size: 1.1em;
  color: #65b7cf;
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  overflow: auto;
  }
  
  .fpbox .mainheading {
  border: none;
  border-bottom: 1px solid #7ad6f1;
  color: #65b7cf;
  text-shadow: 1px 1px 15px #7ad6f1;
  font-size: 150%;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  overflow: auto;
  }
  
  .fpbox .heading {
  border: none;
  border-bottom: 1px solid #7ad6f1;
  color: #65b7cf;
  font-size: 132%;
  margin: 0 0 10px 0;
  padding: 0 0 5px 0;
  overflow: auto;
  }

/* MsUpload color fixes */
#upload-list .file {
background-color: #353535;
border-top: #333;
border-bottom: #444;
}

#upload-list .file .file-title,
#upload-list .file .file-size,
#upload-list .file .file-warning {
color: #E0E0E0;
}

#upload-list .file a {
  color: #add8e6;
}

#upload-list .file .small-warn {
  background: url("//test.gamepedia.com/extensions/MsUpload/images/msu_error-small.png") no-repeat scroll 0 center rgba(255, 246, 191, 0.2);
}

/* Gamepedia fixes */
.ghost { color: #666666; }

/* link-spanner */
.link-spanner {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

/* Allow limiting of which header levels are shown in a TOC;
   <div class="toclimit-3">, for instance, will limit to
   showing ==headings== and ===headings=== but no further
   (as long as there are no =headings= on the page, which
   there shouldn't be according to the MoS). */
.toclimit-2 .toclevel-1 ul,
.toclimit-3 .toclevel-2 ul,
.toclimit-4 .toclevel-3 ul,
.toclimit-5 .toclevel-4 ul,
.toclimit-6 .toclevel-5 ul,
.toclimit-7 .toclevel-6 ul {
  display: none;
}

/* Framework */
body {
  background-attachment: fixed;
  background-color: rgb(33, 26, 36);
  background-image: url(//hydra-media.cursecdn.com/ark.gamepedia.com/9/98/Bg.jpg);
  background-repeat: repeat;
  background-size: cover;
}

div#pageWrapper {
  margin-right: 10px;
}

div#mw-page-base {
  background: none !important;    
}

div#mw-head-base {
  background: transparent !important; 
  border: 0px solid #440263;
  bottom: 0;
  height: 40px;
}

/* Adds bulletpoints styled after links to all lists on the wiki, replaces the default, gauche blue of the Mediawiki, that's so drab and ugly, mon Dieu! */

ul {
  list-style-type: disc;
  list-style-image: url(//hydra-media.cursecdn.com/ark.gamepedia.com/7/75/Bulletpoint_purple.png);
  /*list-style-image: url(//hydra-media.cursecdn.com/ark.gamepedia.com/7/75/Bulletpoint_purple.png) !ie;*/
  }

/**************************
/* Article navigation bar *
/**************************/
#right-navigation {
  margin-right: 1em;
  margin-top: 1em;
}

#left-navigation {
  left: 11em;
  margin-top: 1em;
}

div.vectorMenu h3 a {
background-image: none;
}

div.vectorTabs {
  background-image: none;
}

div.vectorTabs span {
  background-image: none;
}

div.vectorTabs ul {
  background-image: none;
}

div.vectorTabs ul li {
  background-color: transparent;
  background-image: none;
  color: #000000;
}

div.vectorTabs ul li.selected {
  background-color: transparent;
  background-image: none;
  color: #c2b9b9;
}

div.vectorTabs ul li span {
  background-image: none;
  background-color: transparent;
  color: #c2b9b9;
  font-weight: bold;
}

div.vectorTabs ul li.selected span {
  background-image: none;
  background-color: transparent;
  color: #c2b9b9;
  font-weight: bold;
}

div.vectorTabs li span a {
  background-image: none;
  color: #c2b9b9;
}

div.vectorTabs span a:visited {
  color: #c2b9b9;
}

div.vectorTabs li span a:hover, div.vectorTabs span a:visited:hover {
  color: #c2b9b9;
}

div.vectorTabs li.selected span a {
  background-color: transparent;
  color: #c2b9b9 !important;
}

div.vectorTabs li.new span a:visited {
  color: #c2b9b9;
}

div.vectorTabs li.new span a:hover, div.vectorTabs li.new span a:visited:hover {
  color: #c2b9b9;
}

div.vectorMenu h5 a {
  background-image: none;
}

div.vectorMenu:hover, div.menu, div.vectorMenu div.menuForceShow {
  display: block;
}

div#p-cactions div.menu ul{
  border: 1px solid #440263;
  color: #c2b9b9;
  background-color: rgba(32, 28, 28, 1);
}

div#p-cactions div.menu ul li a {
  background: rgba(32, 28, 28, 1);
  color: #c2b9b9;
}

div#p-cactions div.menu ul li a:visited {
  color: #666;
}

div#p-cactions div.menu ul li a:hover, div#p-cactions div.menu ul li a:visited:hover {
  display: block;
}

div#mw-head div.vectorMenu h4 {
  color: #c2b9b9;
  font-weight: bold;
}

div.vectorMenu ul {
  background: rgba(32, 28, 28, 1);
  border: 1px solid #440263;
}

div#p-sharing-label {
  background: none;
  color:#c2b9b9;
}

div#p-sharing-label div.menu{
  background-color: rgba(32, 28, 28, 1);
  color: #c2b9b9;
  border: 1px solid #440263
}

div#p-cactions h3.p-cactions-label{
  background: none;
  color:#c2b9b9;
}

div#p-cactions h3.p-cactions-label div.menu{
  background-color: rgba(32, 28, 28, 1);
  color: #c2b9b9;
  border: 1px solid #440263
}

/* Sidebar */
div#mw-panel div.portal, 
div#mw-panel div.portal div.body {
  background-image: none;
}

div#mw-panel div.portal h3,
#mw-panel.collapsible-nav .portal h3 a,
#mw-panel.collapsible-nav .portal h3 a:visited,
#mw-panel.collapsible-nav div.portal h3 a,
#mw-panel.collapsible-nav div.portal h3 a:visited,
#mw-panel.collapsible-nav .portal.collapsed h3 a,
#mw-panel.collapsible-nav .portal.collapsed h3 a:visited {
  color: #c2b9b9;
  font-weight: bold;
}

#mw-panel.collapsible-nav .portal.collapsed h3 {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAABcRAAAXEQHKJvM/AAAAB3RJTUUH3wQBEikUI775dwAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAT0lEQVQ4y9WTUQrAIAxDE9H7H3jC2wnqxKqw/OeRpq0BZVSU1FEAOxKwYwRs11QHwBNBpkuMIPfWaLsBfQkQmSWpzvhH5/6VwJkO/I9negFpGhkjDUKRdAAAAABJRU5ErkJggg==");
  background-position: left;
  background-repeat: no-repeat;
}

#mw-panel.collapsible-nav .portal h3 {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAACXBIWXMAABcRAAAXEQHKJvM/AAAAB3RJTUUH3wQBEiskN1GrWQAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAT0lEQVQ4y+2TOwrAMAxD9Upy/wsH1KlQQlRcskabjSX/sa0dXNrEEZDaZFdXQqqAP+TUAlVynAHQK74oYHu8CUC3PZbJvk4ZaI9gjDm/oBt1WxYtuhHX/wAAAABJRU5ErkJggg==");
  background-position: left;
  background-repeat: no-repeat;
}

div#mw-panel div.portal div.body ul li a,
div#mw-panel div.portal div.body ul li a:link,
div#mw-panel div.portal div.body ul li a:visited, 
div#mw-panel div.portal div.body ul li a:hover {
  color: #c2b9b9;
}

/* social media add-on fix */
div#mw-panel div#p-socialProfiles.portal .body {
  margin: auto;
}

.socialSidebar {
  width: auto;
  max-width: 100%;
}

/* Content */

div#content{
  background-color: rgba(31, 30, 30, 0.95);
  font-family: ARK;
  font-size: 0.9em;
  color: #65b7cf;
  border-color: #65b7cf;
  box-shadow: #7ad6f1 0 0.1em 0.75em;
  margin-top: 1em;
}

div#content #firstHeading{
  font-family: ARK;
  color: #65b7cf;
  text-shadow: 1px 1px 15px #7ad6f1;
  font-weight: bold;
}

div#content h1, div#content h2, div#content h3, div#content h4, div#content h5, div#content h6{
  overflow: auto;
  font-family: ARK;
  color: #65b7cf;
}

span.editsection{
  color: #65b7cf;
}

#toc, .toc, .mw-warning {
  background: none;
  border: 1px solid #65b7cf;
  font-size: 95%;
  padding: 5px;
}

.tocnumber{
  color: #65b7cf;
}

div#content #toctitle h2{
  background: rgba(0, 0, 0, 0);
}

.toctoggle, #toc .toctoggle{
  color: #65b7cf;
}

h1, h2{
  border-bottom: 1px solid #7ad6f1;
}

h3, h4, h5, h6{
  border: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #65b7cf;
}

.catlinks {
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid #000000;
}

hr{
  color: #7ad6f1;
}

/*Wikitable fixes*/
table.wikitable{
  background: rgb(31, 30, 30);
  color: #65b7cf;
  border: #7ad6f1;
}

table.wikitable th, table.wikitable * tr th{
  background: #58cff3;
  color: #000000;
}

table.wikitable td{
  background: rgb(48, 48, 48);
  color: #65b7cf;
}

.mw-warning{
  background-color: rgba(0, 0, 0, 0.1);
  margin-left: 50px;
  margin-right: 50px;
  text-align: center;
}

table.wikitable tbody tr th a, table.wikitable tbody tr th b a{
  color:darkblue;
}

/* -------------------------- */
/* "ARKITEXURE"-STYLE INFOBOX */
/* -------------------------- */

/* arkitexure rounded borders */
.info-arkitex {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px;
  -icab-border-radius: 10px;
  -o-border-radius: 10px;
  float:center;
}

.info-arkitex-left {
  border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -khtml-border-radius: 10px 0 0 10px;
  -icab-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
  float:left;
}

.info-arkitex-right {
  border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -khtml-border-radius: 0 10px 10px 0;
  -icab-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  float:right;
}

/* arkitexure full container */
.info-framework {
  float:right;
  min-width:410px;
  width:410px;
  max-width:410px;
  background: #3388a9;
  border: 2px solid #7ad6f1;
  margin:0 0 8px 8px;
  padding:5px 5px 0 5px;
  overflow:hidden;
}

/* arkitexure individual module (sub-container) */
.info-module {
  display:inline-block;
  min-width:402px;
  width:402px;
  max-width:402px;
  text-align:right;
  background: #65b7cf;
  margin:0 0 0/*5px*/ 0;
  padding:4px 4px 0 4px;
  overflow:hidden;
}

/* arkitexure "sub-module" component */
.info-unit {
  display:inline-block;
  width:402px;
  min-width:402px;
  max-width:402px;
  text-align:center;
  margin:0 0 0/*4px*/ 0;
  padding:0;
  background:#444444;
  overflow:hidden;
}

.info-unit-row{
  display:flex;
  flex-direction:row;
  align-items:top;
  min-width:402px;
  width:402px;
  max-width:402px;
  padding:0;
  margin:0;
  overflow:hidden;
}

.info-unit-comment {
  display:flex;
  align-items:left;
  font-size:11px !important;
}

.info-unit-caption {
  text-align:center !important;
  padding:0 8px 0 8px !important;
  background:none !important;
}

/* arkitexure cell, intended for one total column, 100% width */
.info-X1-100 {
  display:inline-block;
  min-width:396px;
  width:396px;
  max-width:396px;
  margin:1px;
  padding:5px 2px 5px 2px;
  background:#444444;
}

.info-masthead {
  display:flex !important;
  align-items:center;
  justify-content:center;
  min-height:38px;
  height:auto;
  font-size:24px;
}
.info-column {
  display:flex !important;
  flex-direction:column;
  align-items:center;
}

.info-sound-div { 
  margin:5px 0 -5px 0;
}

.info-arkitex-right-info-X2-75{
  color: rgb(25, 27, 27);
}

/* arkitexure cell, intended for two total columns, 25% width */
.info-X2-25 {
  display:flex;
  align-items:center;
  justify-content:center;
  min-width:92px;
  width:92px;
  max-width:92px;
  min-height:40px;
  height:40px;
  max-height:40px;
  margin:1px;
  padding:5px 8px 5px 8px;
  background:#8ba9aa;
  color: #65b7cf;
}
/* arkitexure cell, intended for two total columns, 75% width */
.info-X2-75 {
  display:flex;
  align-items:center;
  justify-content:center;
  min-width:274px;
  width:274px;
  max-width:274px;
  margin:1px;
  padding:5px 8px 5px 8px;
  background: #0b83ca;
  min-height:40px;
  height:auto;
  font-size:24px;
  color: #65b7cf;
}

/* arkitexure cell, intended for two total columns, 40% width */
.info-X2-40 {
  display:inline-block;
  min-width:144px;
  width:144px;
  max-width:144px;
  min-height:24px;
  height:24px;
  max-height:24px;
  margin:1px;
  padding:5px 8px 5px 8px;
  background: #333333;
  text-align:right;
  color: #65b7cf;
}
/* arkitexure cell, intended for two total columns, 60% width */
.info-X2-60 {
  display:inline-block;
  min-width:222px;
  width:222px;
  max-width:222px;
  min-height:24px;
  height:auto;
  margin:1px;
  padding:5px 8px 5px 8px;
  background:#0b83ca;
  text-align:left;
  color: #65b7cf;
}

/* arkitexure cell, intended for three total columns, 33% width */
.info-X3-33 {
  display:inline-block;
  min-width:116px;
  width:116px;
  max-width:116px;
  min-height:24px;
  height:auto;
  margin:1px;
  padding:5px 8px 5px 8px;
  background:#333333;
  text-align:center;
  color: #65b7cf;
}
/* END "ARKITEXURE"-STYLE INFOBOX */

/***************
/* Link styles *
/***************/
a {
  color: cyan;
}

div#content a:visited, a:visited {
  color: cyan;
}

a:hover, div#content a:visited:hover, a:visited:hover {
  color: cyan;
  text-shadow: 1px 1px 10px #7ad6f1;
}

div#content a.extiw, div#content a.external {
  color: cyan;
}

div#content a.extiw:visited, div#content a.external:visited {
  color: cyan;
}

div#content a.extiw:hover, div#content a.external:hover, div#content a.extiw:visited:hover, div#content a.external:visited:hover {
  color: cyan;
  text-shadow: 1px 1px 10px #7ad6f1;
}

a:active {
  color: cyan;
}

/* no external link icon for internal links */
#content a.external[href^="http://ark.gamepedia.com"], #content a.external[href^="https://ark.gamepedia.com"], #content a.external[href^="//ark.gamepedia.com"] {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  padding-right: 0;
}

/* Sliver Fix */

div#mw-head div.vectorMenu h3 {
  background-image: none;
}

div.vectorMenu h3 span {
  padding-top: 1.3em;
  color: #c2b9b9;
  cursor: pointer;
}

/* Wiki editor fixes */
.wikiEditor-ui {
  background: rgba(0, 0, 0, 0);
  border: medium none;
  color: #c2b9b9;
}

.wikiEditor-ui .wikiEditor-ui-view {
  border-bottom: medium none;
  border-left: 1px solid #000000;
  border-right: 1px solid #000000;
  border-top : medium none;
}

div.wikiEditor-ui-buttons {
  background-color: rgba(0, 0, 0, 0);
  border-top: medium none;
  margin-right: 5px;
}

div.wikiEditor-ui-controls {
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #000000;
}

.wikiEditor-ui-tabs {
  background-color: #28333f;
  border-left: 1px solid #000000;
  border-top: 1px solid #000000;
}

.wikiEditor-ui-tabs div {
  background-color: #28333f;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.wikiEditor-ui-tabs div a {
   background: #28333f;
   color: #c0c0c0;
}

.wikiEditor-ui-tabs div.current {
  background-color: #28333f;
  border-bottom: 1px solid #000000;
}

.wikiEditor-ui-tabs div.current a {
  color: #c0c0c0;
  font-weight: bold;
}

.wikiEditor-ui .wikiEditor-ui-top {
  border-bottom: 1px solid #000000;
}

.wikiEditor-ui-toolbar {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
}

.wikiEditor-ui-toolbar .group {
  border-right: 1px solid #000000;
}

.wikiEditor-ui-toolbar .group-search {
  border-left: 1px solid #000000;
  border-right: none;
}

.wikiEditor-ui-toolbar .group .label {
  color: #c2b9b9;
}

.tab {
  border-color: rgba(0, 0, 0, 0);
}

.wikiEditor-ui-toolbar .tabs span.tab a,
.wikiEditor-ui-toolbar .tabs span.tab a:visited {
  color: #c2b9b9;
}

.wikiEditor-ui-toolbar .tabs span.tab a.current,
.wikiEditor-ui-toolbar .tabs span.tab a.current:visited {
  color: #c2b9b9;
}

.wikiEditor-ui-toolbar .group .tool-select .label {
  color: #c2b9b9;
}

.wikiEditor-ui-toolbar .sections .section {
  background-color: rgba(0, 0, 0, 0.2);
  border-top: 1px solid #000000;
}

.wikiEditor-ui-toolbar .booklet .index div {
  color: #efefef;
}

.wikiEditor-ui-toolbar .booklet .index .current {
  background-color: rgba(0, 0, 0, 0);
  color: #c2b9b9;
}

.wikiEditor-ui-toolbar .booklet .pages {
  background-color: rgba(0, 0, 0, 0);
}

.wikiEditor-ui-toolbar .page-characters div span {
  border: 1px solid #000000;
  color: #c2b9b9;
}

.wikiEditor-ui-toolbar .page-characters div span:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: #000000;
  color: #efefef;
}

.wikiEditor-ui-toolbar .page-table td {
  border-top: 1px solid #000000;
  color: #c2b9b9;
}

.wikiEditor-preview-loading {
  background-color: rgba(0, 0, 0, 0);
}

.wikiEditor-preview-contents {
  background-color: rgba(0, 0, 0, 0);
  border: #000000;
  border-image: none;
  border-style: none solid solid;
  border-width: medium 1px 1px;
}

.editOptions {  
  background-color: rgba(0, 0, 0, 0);
  border: #000000;
  border-image: none;
  border-style: none solid solid;
  border-width: medium 1px 1px;
}

div.tool.tool-select{
  color: #000000;
}

textarea{
  background-color: #000000;
  color: #ffffff;
}

/* Page history */
#pagehistory li {
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  padding: 3px;
}

#pagehistory li.selected {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: none;
  border: 1px dashed #aaaaaa;
  padding: 3px;
}

table.diff {
  background: transparent;
}

td.diff-context {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border-color: #666666;
  color: #ffffff;
}

td.diff-deletedline {
  background-color: #FFE49C;
  border-color: #FFE49C;
  color: #000000;
}

td.diff-addedline {
  background-color: #A3D3FF;
  border-color: #A3D3FF;
  color: #000000;
}

/* Infobox style */
.infobox {
  float: right;
  width: 23em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 0.5em;
  padding: 2px;
  background-color: #444444;
  border: 1px solid #7ad6f1;
}

.infobox-table {
  width: 100%;
  padding: 0;
  background-color: #444444;
  border: 1px solid #7ad6f1;
}

.infobox-header {
  padding: 0.1em;
  color: #65b7cf;
  background-color: #0b83ca;
  font-size: 130%;
  text-align: center;
}

.infobox-section {
  background-color: #333333;
  color: #65b7cf;
}

.infobox-centered {
  text-align: center;
}

.infobox-row {
  vertical-align: top;
}

.infobox-row-name {
  text-align: left;
  white-space: nowrap;
}

.infobox-spacer {
  height: 0.5em;
}

/* copy to clipboard */
.copy-clipboard {
  background-color: white;
  color: black;
  font-family: Courier,monospace;
  padding: 0.2em;
}

.copy-clipboard button {
  padding: 0 0 0 1em;
  border: none;
  background: none;
  cursor: pointer;
  font-family: FontAwesome;
}

/* Ambox style */
.ambox {
  max-width: 80%;
  margin: 1em auto;
  background-color: #4a4a4a;
  border: 1px solid #999999;
  border-collapse: collapse;
  border-left-style: solid;
  border-left-width: 10px;
}

/* Template:Photo */
.photo-nav, .photo-nav a:link, .photo-nav a:visited{
  color: #ffffff !important;
  font-weight:bold;
  text-shadow: 1px 1px 4px black, 0 0 1em teal, 0 0 0.2em black;
}

.photo-nav li{
  background: rgba(25, 35, 41, 0.5);
}

.photo-gallery, .photo-gallery a:link, .photo-gallery a:visited{
  color: #000 !important;
}

.photo-gallery img{
  -webkit-filter: opacity(.8);
  filter: opacity(.8);
  opacity: (0.9);
}

.photo-gallery img:hover{
  -webkit-filter: opacity(1);
  filter: opacity(1);
  opacity: (1);
}

.photo-nav li:hover img{
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}


/* Tiles (Template:Tile) */
.tile_container {
  margin: 4px 0px 8px 8px;
  padding: 0;
  position: relative;
  display: inline-block;
  width: 105px;
  height: 105px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid black;
  border-radius: 15px;
}

.tile_container:hover{
  background: #ffffff;
}

.tile_inner {
  position:relative;
  top:6px;
  left:0;
  font-size:14px;
  font-weight:bold;
}

/* Navbox */
.navbox-header{
  font-weight: bold;
  font-size: 120%;
  color: #dec4de;
}

.navbox-header a:link{
  color: rgb(58, 58, 58);
}

.navbox th{
  width: 1%;
  white-space: nowrap;
}

/* Template:Navbar */
.va-navbar{
  position:absolute;
  padding-left:.5em;
}

/* NavBox Creatures */
.navbox-creature-item{
  display: inline-block;
  margin: 2px;
  overflow: hidden;
  vertical-align:middle;
  width:48px;
  text-align:center
}

.navbox-creature-item div{
  background-color: white;
  border-radius: 100px;
}


/* Patch Notes */
.PN-normal{
  background: #f2f2f2;
  font-weight: bold;
  text-align: center;
  width: 35px;
}

/* Survivor Profile Table (Template:DTile) */
.dtile a:link, .dtile a:visited, .dtile_dlc a:link, .dtile_dlc a:visited{
  color: #a8b9ba !important;
}

.dtile img {
  -webkit-filter: 
      invert(100%) sepia(100%) hue-rotate(142deg) saturate(5000%) brightness(80%);
  filter: 
      invert(100%) sepia(100%) hue-rotate(142deg) saturate(5000%) brightness(80%);
}

.dtile_dlc img {
  -webkit-filter: 
      invert(100%) sepia(100%) hue-rotate(187deg) saturate(5000%) brightness(80%);
  filter: 
      invert(100%) sepia(100%) hue-rotate(187deg) saturate(5000%) brightness(80%);
}

.pointer {
  cursor: pointer;
}

/* Keyboard-Keys (Template:Key) */
kbd {
  font-family: monospace,Courier;
  background: linear-gradient(to right, #eaeaea 0%,#cecece 100%);
  border: 1px solid;
  border-color: #DDD #AAA #888 #CCC;
  border-radius: 2px;
  border-width: 1px 2px 3px 2px;
  padding: 0 .2em 0 .3em;
  text-shadow: 0 1px rgba(255,255,255,.5);
  white-space: nowrap;
  color: black;
}

kbd:after{
  content:"";
  border-right: 0.1em solid #eee;
  position: relative;
  right: -0.2em;
}

/* fake <h2> - looks identical but no edit link and doesn't show up in the ToC */
.fakeh2 {
  font-family: sans-serif;
  font-size: 1.5em;
  margin-top: 1em;
  line-height: 1.3;
  color: #c2b9b9;
  font-weight: normal;
  margin-bottom: 0.25em;
  padding: 0;
  border-bottom: 1px solid #440263;
}